
.table{
    position:fixed;
    top: 172px;
    left: 57px;
    width: 1223px;
    height: 35px;
}
.order{
    position: fixed;
    top: 119px;
    left: 106px;
    width: 179px;
    height: 25px;
    text-align: left;
font: normal normal 600 18px/48px Open Sans;
letter-spacing: 0px;
color: #1E2022;
text-transform: capitalize;
opacity: 1;
}
.box-create{
    position: fixed;
    top: 113px;
left: 1059px;
width: 107px;
height: 32px;

/* UI Properties */

border: 1px solid #5861AE;
border-radius: 4px;
opacity: 1;
}
.create{
    position: fixed;
    top: 107px;
left: 1091px;
width: 44px;
height: 19px;

/* UI Properties */

text-align: left;
font: normal normal 600 14px/48px Open Sans;
letter-spacing: 0px;
color: #5861AE;
opacity: 1
}
.search{
    position: fixed;
    top: 119px;
left: 1195px;
width: 14px;
height: 15px;



background: transparent url('search.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.search-box{
    position: fixed;
    top: 119px;
left: 1192px;
width: 200px;
height: 21px;



opacity: 1;
}
.box{
    min-height: 80vh;

}