
.sidebar{
position: absolute;
top: -1.5px;
left: 0px;
width: 57px;
height: 933px;
background: #5861AE 0% 0% no-repeat padding-box;
opacity: 1;
}
.home{
    position: absolute;
    top: 119px;
left: 20px;
width: 22px;
height: 22px;

/* UI Properties */

background: transparent url('home-run (1).png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.more{
    top: 183px;
left: 20px;
width: 22px;
height: 22px;

/* UI Properties */

background: transparent url('more.png') 0% 0% no-repeat padding-box;
opacity: 1;

}
.list{

}