.main-b {
	min-height: 590px;
}
.part-1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.head-2 {
	color: #5861ae;
	font-weight: 700;
	font-size: 62px;
}

.mar {
	margin-bottom: 5rem;
}
.part1-child p {
	font-weight: 400;
	color: #565657;
	text-transform: capitalize;
	font-size: 20px;
}
.part1-child p:nth-child(5) {
	font-size: 16px;
	color: #565657;
	padding: 0.8rem 0rem;
}
.bt-part-1 {
	padding: 0.8rem 2rem;
	color: #4552c1;
	font-weight: bold;
	border: 2px solid #4552c1;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
}
.bt-part-1:hover {
	background-color: rgb(247, 247, 247);
	cursor: pointer;
	text-decoration: none;
}
.bt-part-1:active {
	background-color: rgb(255, 255, 255);
}

.line {
	position: absolute;
	right: 0;
	height: 200px;
	border-right: 4px solid #5861ae;
	box-shadow: 0px -3px 6px #0000000b;
	opacity: 0.5;
}
.part-2 {
	background-color: #b9c0fd1a;
	display: flex;
	justify-content: center;
	flex-direction: column;
    box-sizing: border-box;
}

.head-3 {
	color: #5861ae;
	font-size: 32px;
	margin-top: 45px;
	margin-left: 5.5rem;
}

.c2-box{
	display: flex;
	flex-direction: column;
	margin: auto;
	
}

.part-2-box {
	display: flex;
	align-content: center;
	margin-top: 40px;
	margin-left: 5rem;
}
.cust-input-1 {
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	border-radius: 0;
	background: none;
	width: 100%;

	padding: 0.2rem 0rem 0.8rem 0rem;
	font-size: 15px;
	letter-spacing: 0.6px;
}

.col-war{
	color: red;
}

.cust-input {
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	border-radius: 0;
	background: none;
	width: 70%;
	margin-bottom: 2rem;
	padding: 0.2rem 0rem 0.8rem 0rem;
	font-size: 15px;
	letter-spacing: 0.6px;
}
.f-pass {
	font-weight: 500;
	font-size: 14px;
	width: 70%;
	text-align: right;
	letter-spacing: 0.64px;
	color: #4552c1;
	text-transform: capitalize;
	opacity: 1;
}
.f-pass:hover {
	cursor: pointer;
	opacity: .9;
}


.register-btn {
	margin-top: 2rem;
	margin-left: 18rem;
}

.reg-bt-2 {
	padding: 0.8rem 2rem;
	color: white;
	font-weight: bold;
	background-color: #5861ae;
	border-radius: 4px;
	opacity: 1;
	border:1px solid #5861ae;
	outline: none;
}
.reg-bt-2:hover {
	background-color: #545ca2;
	cursor: pointer;
	outline: none;
}
.reg-bt-2:active {
	background-color: #5e66af;
	outline: none;
}
.label-div {
	font-size: 10px;
	font-weight: 500;
	opacity: 0.7;
}
.warning {
	margin-bottom: 2rem;
	margin-left: 23rem;
	font-size: 10px;
	color: red;
}

.new-label{
	display: block;
	position: absolute;
	font-size: .8rem;
	color: #5861AE;
	transform: translate(0rem, -5.5rem) ;
	transition: transform, opacity, 0.1s ;
	pointer-events: none;
}

.new-label::after{

      content:'';
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
		
      z-index:-1;
}


.cust-input-1:placeholder-shown ~ label{
	transform:translate(0rem,-2.28rem);
	opacity:1;
	font-size: 1rem;
	visibility:0;
	background-color:transparent;
	color:#000;
}

.cust-input-1:placeholder-shown ~ label::after{
	transform:translateX(-200%);
	transition:2s;
}
.lock{
margin: -1.5rem;
}

.new-label-warning{
	display: block;
	position: absolute;
	font-size: .8rem;
	color: #f10000;
	transform: translate(19.4rem, -2rem) ;
	transition: transform, opacity, 0.1s ;
	pointer-events: none;
}
.margin-right{
	margin-left: -4.3rem;
}
.margin-bit{
	margin-left: -1.1rem;
}
.margin-right-pass{
	margin-left: 1rem;
}