.nav-box{
    box-shadow: 0px 2px 48px #0000000F;
}
.main-head{
    margin-left: 8rem;
    letter-spacing: 1.8px;
    font-weight: 700;
    color: #5861AE;
text-transform: uppercase;
}
.n-list{
    font-weight: 600;
    font-size: small;
    color: #565657;
}
.n-element{
font-weight: 600;
color: rgb(155, 151, 151);
text-transform: capitalize;
border-left: 2px solid #E3E3E3;
}
.user{
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    background-color: #5861AE;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.user:hover,
.user:active{
    cursor: pointer;
    background-color: #535caa;
    box-shadow: 0px 4px 8px 2px #00000029;
    
}
.cust-link-acc{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: .5rem;
    margin-right: 2rem;
    max-height: 80px;
    box-sizing: content-box;
   max-width: 180px;
   min-width: 180px;
   text-overflow: clip;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.cust-link-acc:hover,
.cust-link-acc:active{
    color: #FFFFFF;
    text-decoration: none;
}

.user-acc{
    margin-right: 18px;
}
.acc-img{
    width: 50px;
}
.user-name{
    font-size: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal{
    border: none;
    border-radius: 0;
    padding: 0;
}

.modalHeader{
    border: none;
    background-color: #5861AE;
    color: white;
    outline: none;
    border: none;
}
.confirm{
    padding: 0.4rem 2rem;
    background-color: #5861ae;
	opacity: 1;
    outline: none;
}
.confirm:hover{
    background-color: #545ca8;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
  
}
.confirm:active{
    background-color: #5860ae;
}
.cancel{
    padding: 0.4rem 2rem;
    background-color: #525252;
	opacity: 1;
    outline: none;
}
.cancel:hover{
    background-color: #4b4b4b;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}
.alert-img{
 width: 80px;
 background: none;
 margin-right: 2rem;
}
.modal-body{
    font-size: large;
    font-weight: 400;
}